(
    barman: (
        event_path: "/dev/input/event3",
        freeze_key_code: 19, //Global freeze, all macros
        freeze_key_state: "press",
        reload_key_code: 20, //reload all macros
        reload_key_state: "press",
        shutdown_key_code: 21, //quit the whole program, all process are killed
        shutdown_key_state: "press",

    ),
    keybinds: [
        (
            sub_keybinds: [
                (
                    key_code: 16,
                    key_state: "longpress",

                    longpress_threshold: 1500,
                    count_press: 3,
                ),
                (
                    key_code: 17,
                    key_state: "press",

                    longpress_threshold:1500,
                    count_press: 3,
                )
            ],
            adr_name: "test",
            timer_threshold: 5000,
        ),
        (
            sub_keybinds: [
                (
                    key_code: 31,
                    key_state: "press",

                    longpress_threshold: 1500,
                    count_press: 3,
                ),
                (
                    key_code: 32,
                    key_state: "press",

                    longpress_threshold: 1500,
                    count_press: 3,
                ),
            ],
            adr_name: "test2",
            timer_threshold: 5000,
        ),
        (
            sub_keybinds: [
                (
                    key_code: 33,
                    key_state: "spampress",

                    longpress_threshold: 1500,
                    count_press: 5,
                ),

            ],
            adr_name: "test3",
            timer_threshold: 5000,
        ),
    ],

)