(
    barman: (
        event_path: "/dev/input/event3",
    ),
    keybinds: [
        (
            sub_keybinds: [
                (
                    key_code: 72,
                    key_state: (
                        keybind_type: "press",
                    ),
                ),
            ],
            name: "simple click",
            timer_threshold: 1500,
        ),
        (
            sub_keybinds: [
                (
                    key_code: 72,
                    key_state: (
                        keybind_type: "spampress",
                        spam_press_time_span: 2000,
                        repetition: 4,
                    ),
                ),
                (
                    key_code: 71,
                    key_state: (
                        keybind_type: "longpress",
                        press_duration: 750,
                    ),
                ),
            ],
            name: "a bit more complex",
            timer_threshold: 5000,
        ),
    ],
)
